In [1]:
print('Python_Lesson_3')

print('\ntask_1')
print('Использовать датасет с текущего урока и построить сегментированную воронку конверсии пользователей интернет-магазина по полу.')
print('-' * 77)

Python_Lesson_3

task_1
Использовать датасет с текущего урока и построить сегментированную воронку конверсии пользователей интернет-магазина по полу.
-----------------------------------------------------------------------------

In [9]:
import numpy as np
import pandas as pd

In [68]:
df_home_page = pd.read_csv('home_page_table.csv')
df_payment_confirmation = pd.read_csv('payment_confirmation_table.csv')
df_payment_page = pd.read_csv('payment_page_table.csv')
df_search_page = pd.read_csv('search_page_table.csv')
df_user_table = pd.read_csv('user_table.csv')

In [69]:
df_user_table

       user_id        date   device     sex
0       450007  2015-02-28  Desktop  Female
1       756838  2015-01-13  Desktop    Male
2       568983  2015-04-09  Desktop    Male
3       190794  2015-02-18  Desktop  Female
4       537909  2015-01-15  Desktop    Male
...        ...         ...      ...     ...
90395   307667  2015-03-30  Desktop  Female
90396   642989  2015-02-08  Desktop  Female
90397   659645  2015-04-13  Desktop    Male
90398   359779  2015-03-23  Desktop    Male
90399   438929  2015-03-26   Mobile  Female

[90400 rows x 4 columns]

In [73]:
df_home_page = df_home_page.rename(columns = {'page':'home_page'})
df_search_page = df_search_page.rename(columns = {'page':'search_page'})
df_payment_page = df_payment_page.rename(columns = {'page':'payment_page'})
df_payment_confirmation = df_payment_confirmation.rename(columns = {'page':'payment_confirmation'})
df.head()

,user_id,date,device,sex,home_page,search_page,payment_confirmation,page
0,450007,2015-02-28,Desktop,Female,1,0,NaN,NaN
1,756838,2015-01-13,Desktop,Male,1,0,NaN,NaN
2,568983,2015-04-09,Desktop,Male,1,1,NaN,NaN
3,190794,2015-02-18,Desktop,Female,1,1,NaN,NaN
4,537909,2015-01-15,Desktop,Male,1,0,NaN,NaN

In [75]:
#склеиваем отчеты
df = df_user_table.merge(df_home_page, on = 'user_id', how = 'left').merge(df_search_page, on = 'user_id', how = 'left') \
.merge(df_payment_page, on = 'user_id', how = 'left').merge(df_payment_confirmation, on = 'user_id', how = 'left')
df.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation
0,450007,2015-02-28,Desktop,Female,home_page,NaN,NaN,NaN
1,756838,2015-01-13,Desktop,Male,home_page,NaN,NaN,NaN
2,568983,2015-04-09,Desktop,Male,home_page,search_page,NaN,NaN
3,190794,2015-02-18,Desktop,Female,home_page,search_page,NaN,NaN
4,537909,2015-01-15,Desktop,Male,home_page,NaN,NaN,NaN

In [76]:
# перекодируем названия событий в 0/1
df['home_page'] = df['home_page'].apply(lambda x: 1 if x == 'home_page' else 0)
df['search_page'] = df['search_page'].apply(lambda x: 1 if x == 'search_page' else 0)
df['payment_page'] = df['payment_page'].apply(lambda x: 1 if x == 'payment_page' else 0)
df['payment_confirmation'] = df['payment_confirmation'].apply(lambda x: 1 if x == 'payment_confirmation_page' else 0)
df.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation
0,450007,2015-02-28,Desktop,Female,1,0,0,0
1,756838,2015-01-13,Desktop,Male,1,0,0,0
2,568983,2015-04-09,Desktop,Male,1,1,0,0
3,190794,2015-02-18,Desktop,Female,1,1,0,0
4,537909,2015-01-15,Desktop,Male,1,0,0,0

In [87]:
# группировка по в разрезе полов на сайте 
df_gr = df.groupby('sex')[['home_page', 'search_page', 'payment_page', 'payment_confirmation']].sum()  \
.unstack('sex').unstack('sex').reset_index()

# Уберем ненужный заголовок верхнего уровня
df_gr.columns.name = None

# Переименуем стандартные после процедуры заголовки
df_gr = dfg.rename(columns = {'index':'Page'})

df_gr.head()

                   Page  Female   Male
0             home_page   45075  45325
1           search_page   22676  22524
2          payment_page    3100   2930
3  payment_confirmation     241    211

In [109]:
from plotly import graph_objects as go

# Настраиваем скрипт библиотеки Plotly нашими параметрами
fig = go.Figure()

# график для Male
fig.add_trace(go.Funnel(
    y = dfg['Page'],
    x = dfg['Male'],
    name = 'Male',
    constraintext='outside',
    textposition = 'inside',
    textinfo = 'value+percent previous'
    ))

# график для Female
fig.add_trace(go.Funnel(
    y = dfg['Page'],
    x = dfg['Female'],
    name = 'Female',
    textposition = 'auto',
    textinfo = 'value+percent previous'
   ))

fig.update_layout(
    title = 'Cегментированная воронка конверсии пользователей интернет-магазина по полу',
    title_x=0.5,
    autosize=False,
    width=1000,
    height=500)

fig.show()

In [ ]:
print('\ntask_2')
print(' Создать 2 новые фичи на основе колонки “date”: месяц и день недели.')
print('-' * 77)

In [111]:
df['month'] = pd.DatetimeIndex(df['date']).month
df['day_of_week'] = pd.DatetimeIndex(df['date']).dayofweek
df.head(5)

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation,month,day_of_week
0,450007,2015-02-28,Desktop,Female,1,0,0,0,2,5
1,756838,2015-01-13,Desktop,Male,1,0,0,0,1,1
2,568983,2015-04-09,Desktop,Male,1,1,0,0,4,3
3,190794,2015-02-18,Desktop,Female,1,1,0,0,2,2
4,537909,2015-01-15,Desktop,Male,1,0,0,0,1,3

In [ ]:
print('\ntask_3')
print(' Определить самый топовый по продажам месяц и день недели с помощью базовых методов агрегации (sum или count).')
print('-' * 77)

In [112]:
# месяц
df['month'].loc[df['payment_confirmation']==1].value_counts()

1    189
2    173
4     46
3     44
Name: month, dtype: int64

In [113]:
#день недели
df['day_of_week'].loc[df['payment_confirmation']==1].value_counts()

0    77
5    70
1    69
3    66
6    62
2    54
4    54
Name: day_of_week, dtype: int64

In [ ]:
print('\ntask_4')
print('Выяснить, в какой день недели лучше покупают женщины, а в какой мужчины с помощью одного из методов  \
построения сводных таблиц (groupby, pivot_table или crosstab).')
print('-' * 77)

In [120]:
dfg.max()

Page      search_page
Female          45075
Male            45325
dtype: object

In [121]:
df_gr = pd.crosstab(df['day_of_week'], df['sex'] )
df_gr.columns.name = None
df_gr.head(10)

             Female  Male
day_of_week
0              6400  6555
1              6410  6287
2              6359  6472
3              6728  6716
4              6328  6422
5              6344  6457
6              6506  6416

In [122]:
dfg.sort_values(by='Female', ascending = False).head(1)

        Page  Female   Male
0  home_page   45075  45325