In [ ]:
print('Python_Lesson_6')

print('\ntask')
print("""Решить кейс:
Руководство решает внедрить фичу “С этим товаром покупают” в Интернет-магазине. Вам предлагается протестировать фичу на одном из товаров. Для тестирования фичи вам исходя из истории покупок в интернет-магазине нужно определить ТОП-10 наиболее близких товаров к исходному.
1.Используйте датасет с практики текущего урока.
2.Создайте матрицу item-customer (по срокам - товары, по столбцам - покупатели)
3.Проведите оценку мер близости товаров, получив матрицу item_item_sim_matrix со значениями косинусов между векторами товаров.
4.Отберите ТОП-10 похожих товаров по StockCode.
5.Выведите список ТОП-10 похожих товаров с названиями (Description) на экран.
Исходный товар - StockCode: 23166 Description: MEDIUM CERAMIC TOP STORAGE JAR""")
print('-' * 77)

In [ ]:
# Фича в программировании — это некая новая функция или особенность программы,которая ранее не была оговорена, но в
#результате не нарушает функциональность программы, а приносит какое-то дополнение в ее работу. Фича происходит от 
#английского слова «feature».

In [50]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix # Импорт библиотеки для создания разреженной матрицы
import scipy.stats as stats

from scipy.optimize import Bounds
from scipy.optimize import minimize

In [37]:
print('\ntask_1')
print('1.Используйте датасет с практики текущего урока.')

task_1
1.Используйте датасет с практики текущего урока.

In [39]:
df = pd.read_excel("http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [40]:
# Смотрим размеры датасета
df.shape

(541909, 8)

In [41]:
# Чистим датасет: удаляем записи с нулевыми покупками
df = df.loc[df['Quantity'] > 0]

In [42]:
# Чистим датасет: удаляем записи с пропусками в customer_id
df = df.dropna(subset=['CustomerID'])

In [ ]:
print('\ntask_2')
print('2.Создайте матрицу item-customer (по строкам - товары, по столбцам - покупатели)')

In [117]:
# Агрегируем данные в сводную таблицу "товар - покупатель"
item_customer_matrix = df.pivot_table(index='StockCode', columns='CustomerID', values='Quantity', aggfunc='sum')
item_customer_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
# Заменяем кол-во покупок на событие: 1- факт покупки, 0 - отсутствие покупки
item_customer_matrix = item_customer_matrix.applymap(lambda x: 1 if x > 0 else 0)
m = item_customer_matrix.values

In [118]:
# Смотрим на размеры таблицы
item_customer_matrix.shape

(3665, 4339)

In [98]:
# Сравниваем кол-во столбцов с кол-вом уникальных покупателей в исходном датафрейме
df['CustomerID'].nunique()

4339

In [86]:
# Сравниваем кол-во строк с кол-вом уникальных товаров в исходном датафрейме
df['StockCode'].nunique()

3665

In [120]:
# Заменяем кол-во покупок на событие: 1- факт покупки, 0 - отсутствие покупки
item_customer_matrix = item_customer_matrix.applymap(lambda x: 1 if x > 0 else 0)
item_customer_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [121]:
# Коллаборативная фильтрация (Collaborative Filtering)
# Преобразуем исходную матрицу "покупатель - товар" в массив
m = item_customer_matrix.values
m

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0]], dtype=int64)

In [122]:
m.shape

(3665, 4339)

In [ ]:
print('\ntask_3')
print('3.Проведите оценку мер близости товаров, получив матрицу item_item_sim_matrix со значениями косинусов между векторами товаров.')

In [ ]:
"""Матрицы, которые содержат в основном нулевые значения, называются разреженными, в отличие от матриц, где большинство
значений отличны от нуля, которые называются плотными."""

In [124]:
# Задаем функцию расчета косинуса между векторами-строками товаров
def cos_sim(array):
    # преобразуем
    csr_array = csr_matrix(array) #разряженная матрица
    numerator = np.dot(csr_array, csr_array.T).toarray()
    denomenator = np.linalg.norm(array, axis=1, keepdims=True) * np.linalg.norm(array.T, axis=0, keepdims=True)
    return numerator / denomenator

In [128]:
# Вычисляем косинусную меру сходства между векторами-строками товаров
item_item_sim_matrix = cos_sim(m)
item_item_sim_matrix

array([[1.        , 0.        , 0.09486833, ..., 0.06691496, 0.        ,
        0.07821652],
       [0.        , 1.        , 0.        , ..., 0.01618174, 0.        ,
        0.        ],
       [0.09486833, 0.        , 1.        , ..., 0.07053456, 0.        ,
        0.01099299],
       ...,
       [0.06691496, 0.01618174, 0.07053456, ..., 1.        , 0.        ,
        0.0775386 ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.07821652, 0.        , 0.01099299, ..., 0.0775386 , 0.        ,
        1.        ]])

In [127]:
# Добавляем название столбцов и индексов в матрицу мер близости между векторами-строками товаров
item_item_sim_matrix = pd.DataFrame(item_item_sim_matrix)
item_item_sim_matrix.columns = item_customer_matrix.index
item_item_sim_matrix['StockCode'] = item_customer_matrix.index
item_item_sim_matrix = item_item_sim_matrix.set_index('StockCode')

In [134]:
item_item_sim_matrix.head()

StockCode,10002,10080,10120,10125,10133,10135,11001,15030,15034,15036,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.000000,0.094868,0.090351,0.062932,0.098907,0.095346,0.047673,0.075593,0.090815,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.066915,0.000000,0.078217
10080,0.000000,1.000000,0.000000,0.032774,0.045655,0.047836,0.000000,0.000000,0.082261,0.049413,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016182,0.000000,0.000000
10120,0.094868,0.000000,1.000000,0.057143,0.059702,0.041703,0.060302,0.060302,0.095618,0.028718,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.070535,0.000000,0.010993
10125,0.090351,0.032774,0.057143,1.000000,0.042644,0.044682,0.043073,0.000000,0.051224,0.030770,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.070535,0.000000,0.070669
10133,0.062932,0.045655,0.059702,0.042644,1.000000,0.280097,0.045002,0.060003,0.071358,0.057152,...,0.0,0.0,0.0,0.0,0.0,0.036955,0.0,0.070185,0.049752,0.021877

In [ ]:
print('\ntask_4')
print('4.Отберите ТОП-10 похожих товаров по StockCode.')

In [138]:
# На примере эталонного товара находим ТОП-10 товаров, которые близки к нему по косинусной мере
top10 = item_item_sim_matrix.loc[23166].sort_values(ascending=False).head(11).reset_index()
top10 = top10['StockCode']
result = df.loc[df['StockCode'].isin(set(top10)), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')
result = result.reset_index()
print(result)

    StockCode                          Description
0       22961               JAM MAKING SET PRINTED
1       22666      RECIPE BOX PANTRY YELLOW DESIGN
2       22722    SET OF 6 SPICE TINS PANTRY DESIGN
3       22720    SET OF 3 CAKE TINS PANTRY DESIGN
4       23166       MEDIUM CERAMIC TOP STORAGE JAR
5       22993         SET OF 4 PANTRY JELLY MOULDS
6       23167       SMALL CERAMIC TOP STORAGE JAR
7       23165        LARGE CERAMIC TOP STORAGE JAR
8       23307  SET OF 60 PANTRY DESIGN CAKE CASES
9       23306      SET OF 36 DOILIES PANTRY DESIGN
10      23243  SET OF TEA COFFEE SUGAR TINS PANTRY
11      23306       SET OF 36 PANTRY PAPER DOILIES

c:\users\admin\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  ) != len(other):

In [ ]:
print('\ntask_5')
print('5.Выведите список ТОП-10 похожих товаров с названиями (Description) на экран.Description: MEDIUM CERAMIC TOP STORAGE JAR')

In [139]:
ddd = result.loc[result['StockCode'] == 23166]
ddd = ddd['Description'].values[0]
print(f'ТОП-10 товаров похожих на "{ddd}":')
print(result.loc[result['StockCode'] != 23166]['Description'].reset_index()['Description'])

ТОП-10 товаров похожих на "MEDIUM CERAMIC TOP STORAGE JAR":
0                  JAM MAKING SET PRINTED
1         RECIPE BOX PANTRY YELLOW DESIGN
2       SET OF 6 SPICE TINS PANTRY DESIGN
3       SET OF 3 CAKE TINS PANTRY DESIGN
4            SET OF 4 PANTRY JELLY MOULDS
5          SMALL CERAMIC TOP STORAGE JAR
6           LARGE CERAMIC TOP STORAGE JAR
7     SET OF 60 PANTRY DESIGN CAKE CASES
8         SET OF 36 DOILIES PANTRY DESIGN
9     SET OF TEA COFFEE SUGAR TINS PANTRY
10         SET OF 36 PANTRY PAPER DOILIES
Name: Description, dtype: object

In [ ]:
#Получилось ТОП-11, а не ТОП-10, потому что StockCode 23306 имеет два значения Description
print(result.loc[result['StockCode'] == 23306])

In [135]:
# Похожие товары по StockCode [23166.0] по косинусной мере
item_item_sim_matrix.loc[23166.0].sort_values(ascending=False)

StockCode
23166     1.000000
23165     0.671897
23167     0.659551
22993     0.274724
23307     0.262526
            ...
84921     0.000000
84924F    0.000000
84925D    0.000000
35597D    0.000000
21555     0.000000
Name: 23166, Length: 3665, dtype: float64