In [10]:
print('Python_Lesson_2')

print('\ntask_1')
print('Загрузить, просмотреть, определить количество строк и склеить 3 датасета:marketing_campaign.csv, users.csv и subscribers.csv.')
print('-' * 77)

Python_Lesson_2

task_1
Загрузить, просмотреть, определить количество строк и склеить 3 датасета:marketing_campaign.csv, users.csv и subscribers.csv.
-----------------------------------------------------------------------------

In [81]:
import numpy as np
import pandas as pd

In [51]:
df_mc = pd.read_csv('marketing_campaign.csv', header=0, sep=',', index_col=None)
df_sub = pd.read_csv('subscribers.csv', header=0, sep=',', index_col=None)
df_users = pd.read_csv('users.csv', header=0, sep=',', index_col=None)

In [57]:
df_mc

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True
10033,a11033,1/17/18,Email,control,German,True
10034,a11034,1/5/18,Instagram,control,German,False
10035,a11035,1/17/18,Email,control,German,True
10036,a11036,1/6/18,Facebook,control,German,False

In [60]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   subscribing_channel  1856 non-null   object
 2   date_subscribed      1856 non-null   object
 3   date_canceled        577 non-null    object
 4   is_retained          1856 non-null   object
dtypes: object(5)
memory usage: 392.2+ KB

In [52]:
df_users.describe()

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [9]:
#описательная статистика, включающая выбранные типы
df_users.describe(include = ['object','bool'])

       user_id    age_group language_preferred
count    10037        10037              10037
unique   10037            7                  4
top      a1000  19-24 years            English
freq         1         1682               9275

In [54]:
df_mc.shape

(10037, 6)

In [55]:
df_sub.shape

(10037, 5)

In [56]:
df_users.shape

(10037, 3)

In [ ]:
#склейка 3х датасетов

In [67]:
df = df_mc.merge(df_sub, on='user_id', how='inner').merge(df_users, on='user_id', how='inner')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [74]:
#вариант с join

df_1 = df_mc.set_index('user_id')
df_2 = df_sub.set_index('user_id')
df_3 = df_users.set_index('user_id')

df_new = df_1.join(df_2, how = 'inner')

df_new.shape

(10037, 9)

In [73]:
df_new1 = df_new.join(df_3, how = 'inner')

df_new1.shape

(10037, 11)

In [ ]:
print('\ntask_2')
print(' Определить количество, типы и описательные статистики колонок (столбцов)получившегося датасета.')
print('-' * 77)

In [70]:
df.describe()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

In [ ]:
print('\ntask_3')
print(' Определить эффективность маркетинговых каналов по привлечению платящих игроков.')
print('-' * 77)

In [75]:
df['marketing_channel'].loc[df['converted']==True].value_counts()

House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: marketing_channel, dtype: int64

In [ ]:
print('\ntask_4')
print(' Определить самую раннюю дату подписки на сервис.')
print('-' * 77)

In [79]:
pd.to_datetime(df['date_subscribed']).sort_values().head(1)

0   2018-01-01
Name: date_subscribed, dtype: datetime64[ns]

In [47]:
##df_new1.loc[df_new1.groupby('user_id')['date_served'].idxmax()]

In [ ]:
print('\ntask_5')
print(' Определить портрет аудитории удержанных подписчиков (по возрасту и языку).')
print('-' * 77)

In [80]:
df[['age_group', 'language_preferred']].loc[df['is_retained'] == True].value_counts()

age_group    language_preferred
19-24 years  English               304
24-30 years  English               250
0-18 years   English               210
30-36 years  English               114
45-55 years  English               108
36-45 years  English               107
55+ years    English                86
24-30 years  German                 15
19-24 years  German                 11
             Spanish                10
0-18 years   German                 10
30-36 years  Spanish                 7
45-55 years  Spanish                 6
0-18 years   Spanish                 6
36-45 years  Spanish                 5
24-30 years  Spanish                 5
55+ years    Spanish                 5
45-55 years  German                  3
0-18 years   Arabic                  3
24-30 years  Arabic                  3
45-55 years  Arabic                  2
36-45 years  German                  2
55+ years    Arabic                  2
             German                  2
36-45 years  Arabic                  1
19-24 years  Arabic                  1
30-36 years  German                  1
dtype: int64